In [1]:
Names = ['Anna', 'Zara', 'Rosaline', 'Paul', 'John']

In [2]:
Age = (21, 18, 23, 22, 25)

In [3]:
Height = [5.2, 4.6, 5.7, 5.4, 5.5]

In [4]:
tab = {
    'Names' : Names,
    'Age': Age,
    'Height' : Height
}

In [5]:
tab

{'Names': ['Anna', 'Zara', 'Rosaline', 'Paul', 'John'],
 'Age': (21, 18, 23, 22, 25),
 'Height': [5.2, 4.6, 5.7, 5.4, 5.5]}

In [6]:
tab['Names']

['Anna', 'Zara', 'Rosaline', 'Paul', 'John']

In [8]:
import pandas as pd

In [9]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [10]:
table = pd.DataFrame?

In [ ]:
table = pd.DataFrame

In [11]:
table = pd.DataFrame(tab)

In [12]:
table

      Names  Age  Height
0      Anna   21     5.2
1      Zara   18     4.6
2  Rosaline   23     5.7
3      Paul   22     5.4
4      John   25     5.5

In [13]:
def add(a,b):
    return a+b

In [14]:
add(9,5)

14

In [25]:
def funct(x,y,z):
    '''
    hjbvdhjbvlabfvdjbdvhksjh'''
    return (x + y) - z

In [16]:
funct(6,5,3)

8

In [17]:
def add(a,b):
    '''
    This function had two parameters that are added together e.g a = 7, b = 8 and the function returns 15
    '''
    return a+b

In [18]:
add?

In [19]:
import math

In [20]:
dir math

SyntaxError: invalid syntax (<ipython-input-20-99a86a9187a9>, line 1)

In [21]:
dir.math

AttributeError: 'builtin_function_or_method' object has no attribute 'math'

In [22]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [23]:
def perimeter(r):
    return 2* math.pi * r

In [24]:
perimeter(4)

25.132741228718345

In [26]:
funct?

In [ ]:
def maximum(a, b, c):
    if a > b and a > c:
        print (a, 'is the highest value')
    elif b>a and b>c:
        print (b,'is the highest value')
    elif c>a and c>b:
        return c g
    else:
        return 'They are all equal'